body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #120333;; /* Primary background color */
    color: #fff !important; /* Text color */
}

.container-rooms{
  
    padding-top: 4% 3%;
}


.container {
    padding-top: 50px;
}

header, section, footer {
    margin-bottom: 50px;
}

h1, h2, p {
    margin: 0 0 20px 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.card {
    background-color: #f6afe274; /* Secondary background color for cards */
    border: none;
}

.card-title, .card-text {
    color: #fff; /* Text color */
}

label {
    color: #E0E0E0; /* Text color for form labels */
}

.navbar-dark .navbar-brand, .navbar-dark .nav-link {
    color: #FFFFFF; /* White text for navbar */
}

.footer{
    background-color: #fff;
    text-align: center;
    padding: 2% ;
}
.footer-icon{
    margin: 5px 8px;
}

